data/NodeRED/flow.json
[{"id":"39982cbc.63efa4","type":"watson-conversation-v1","z":"1db1ae9c.679261","name":"ISS Assistant","workspaceid":"4467d721-1e89-43fc-94a5-1d08d4efdf94","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":470,"y":100,"wires":[["6e7aa286.28580c"]],"inputLabels":["msg.payload"]},{"id":"6e7aa286.28580c","type":"function","z":"1db1ae9c.679261","name":"Generate Timestamp","func":"msg.assistant = msg.payload\nif (msg.payload.intents.length > 0 || msg.payload.entities.length >0){\n msg.payload = (new Date()).getTime()\n}\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":100,"wires":[["a54b6020.dc352"]]},{"id":"9cf4fc9d.9da","type":"http in","z":"1db1ae9c.679261","name":"","url":"/botchat","method":"post","upload":false,"swaggerDoc":"","x":100,"y":100,"wires":[["952fcec.876773"]]},{"id":"952fcec.876773","type":"function","z":"1db1ae9c.679261","name":"process chat input","func":"// stash away incoming data\nmsg.mydata = {};\nmsg.mydata.messagein = msg.req.body.msgdata;\nmsg.payload = msg.mydata.messagein;\n\nmsg.params = { \"context\": msg.req.body.context};\n\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":100,"wires":[["39982cbc.63efa4"]]},{"id":"8b3db5c8.2a59f8","type":"function","z":"1db1ae9c.679261","name":"Assistant output to Chat","func":"\ncurrent_payload = msg.payload;\nmsg.payload = {};\nif (current_payload && current_payload.hasOwnProperty('display_name')){\n    // geocoding response\n    msg.payload.message = \"Currently Location: \" + current_payload.display_name;\n    msg.payload.lat = current_payload.lat;\n    msg.payload.lon = current_payload.lon;\n} else if (current_payload.hasOwnProperty('error')) {\n    // geocoding error\n    msg.payload.message = \"Unknown Location - Probably over the ocean.\";\n\n    var lat_string = msg.mydata.position.lat.toString();\n    msg.payload.lat = Math.round(100*lat_string)/100;\n\n    var lon_string = msg.mydata.position.lon.toString();\n    msg.payload.lon = Math.round(100*lon_string)/100;\n} else {\n    // text-based answer\n    msg.payload.message = msg.text;\n    msg.payload.lat = undefined;\n    msg.payload.lon = undefined;\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":230,"y":220,"wires":[["c8cefb6c.0c9828"]]},{"id":"c8cefb6c.0c9828","type":"http response","z":"1db1ae9c.679261","name":"Bot response","statusCode":"200","headers":{},"x":460,"y":220,"wires":[]},{"id":"9e584b0b.80cb78","type":"http in","z":"1db1ae9c.679261","name":"Chat home page","url":"/bot","method":"get","upload":false,"swaggerDoc":"","x":260,"y":580,"wires":[["88f7a513.b64528"]]},{"id":"88f7a513.b64528","type":"template","z":"1db1ae9c.679261","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!--\n# Copyright 2018 IBM\n#\n# Licensed under the Apache License, Version 2.0 (the \"License\");\n# you may not use this file except in compliance with the License.\n# You may obtain a copy of the License at\n#\n#     http://www.apache.org/licenses/LICENSE-2.0\n#\n# Unless required by applicable law or agreed to in writing, software\n# distributed under the License is distributed on an \"AS IS\" BASIS,\n# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.\n# See the License for the specific language governing permissions and\n# limitations under the License.\n-->\n\n<html>\n  <head>\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <title>\n\t  My BOT\n\t</title>\n\t<link rel=\"stylesheet\"\n        type=\"text/css\"\n        href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\" />\n\t<style>\n    \tbody {\n    \t    font-family: monospace;\n    \t}\n\t    .sat-track {\n\t        display: flex;\n\t        height: 100%;\n            font-family: monospace;\n\t    }\n\t    \n\t    .sat-track--chat {\n\t        width: 30%;\n\t        max-width: 400px;\n\t        border-right: 1px solid #929292;\n\t        display: flex;\n\t        flex-direction: column;\n\t    }\n\t    \n\t    .sat-track--chat--logs {\n\t        flex-grow: 1;\n\t        background-color: #262626;\n\t        height: 70%;\n            overflow-y: scroll;\n\t    }\n\t    \n\t    .sat-track--chat--message {\n            width: 100%;\n            margin-top: 12px;\n            display: flex;\n\t    }\n\t    \n\t    .sat-track--chat--message div {\n\t        border-radius: 6px;\n            width: 60%;\n            color: white;\n            padding: 6px 12px;\n\t    }\n\t    \n\t    .sat-track--chat--you div {\n\t        background-color: #4eb8ff;\n            margin-left: 6px;\n            border-bottom-left-radius: 0px;\n\t    }\n\t    \n\t    .sat-track--chat--bot,\n\t    .sat-track--chat--error {\n\t        flex-direction: row-reverse;\n\t    }\n\t    \n\t    .sat-track--chat--bot div,\n\t    .sat-track--chat--error div {\n\t        background-color: #97b83a;\n            margin-right: 6px;\n            border-bottom-right-radius: 0px;\n\t    }\n\t    \n\t    .sat-track--chat--error div {\n\t        background-color: #cc5f5f;\n\t    }\n\t    \n\t    .sat-track--chat form {\n\t        background-color: #141414;\n            margin-bottom: 0px;\n            color: white;\n\t    }\n\t    \n\t    .sat-track--chat label {\n\t        display: block;\n            padding: 6px;\n            margin-bottom: 0px;\n            border-bottom: 1px solid #434343;\n\t    }\n\t    \n\t    .sat-track--chat textarea {\n    \t    resize: none;\n            width: 100%;\n            min-height: 50px;\n            color: black;\n            padding: 6px;\n\t    }\n\t    \n\t    .sat-track--chat button {\n    \t    width: 100%;\n            padding: 6px 6px;\n            font-size: 12pt;\n            background: #268cb4;\n            border: 1px solid #02b8ff;\n            color: white;\n\t    }\n\t    \n\t    .sat-track--chat button:hover {\n\t        cursor: pointer;\n            background: #97b83a;\n            border: 1px solid #02b8ff;\n            color: white;\n\t    }\n\t    \n\t    h1 {\n\t        margin: 0px;\n            background-color: black;\n            color: #eee;\n            padding: 12px 6px;\n            font-size: 16pt;\n            border-bottom: 1px solid #00b8ff;\n\t    }\n\t    \n\t    .sat-track--map {\n\t        width: 100%;\n\t    }\n\t    \n\t    .sat-track--map iframe {\n\t        width: 100%;\n\t        height: 100%;\n\t    }\n\t    \n\t    .sat-track--map small {\n\t        position: absolute;\n            bottom: 0px;\n\t    }\n\t    \n\t</style>\n  </head>\n  <body>\n\n    <div class=\"container\">\n      <div id=\"no-script\"class=\"bg-info\">\n        This application needs JavaScript enabled in your browser!\n      </div>\n      <div id=\"id_contextdump\"></div>\n    </div>\n    \n    <div class=\"sat-track\">\n        <div class=\"sat-track--chat\">\n            <h1>ISS Tracker BOT</h1>\n            <div class=\"sat-track--chat--logs\" id=\"id_botchathistory\"></div>\n    \t    <div>\n    \t        <form>\n                  <label for=\"id_chattext\">Your Input: </label>\n                  <textarea type=\"text\" name=\"chattext\" id=\"id_chattext\"></textarea>\n    \t        </form>\n    \t        <button onclick=\"javascript:onChatClick()\" id=\"id_enter\">Send</button>\n    \t    </div>\n        </div>\n        <div class=\"sat-track--map\" id=\"WorldMap\">\n            <iframe width=\"800\" height=\"600\" frameborder=\"0\" scrolling=\"no\" marginheight=\"0\" marginwidth=\"0\" src=\"https://casissatellite1.mybluemix.net/worldmap/\"></iframe>\n            <br /><small><a href=\"https://casissatellite1.mybluemix.net/worldmap/\" style=\"color:#0000FF;text-align:left\">View Larger Map</a></small>\n        </div>\n    </div>\n\t  \n    <script type=\"text/javascript\" src=\"https://code.jquery.com/jquery-2.1.4.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n\n    <script>\n        $(document).ready(function() {\n            javascriptCheck();\n            $('#id_contextdump').hide();\n            enterbutton();\n            //invokeAjax (\"Hello\");\n        });\n        \n        // if javascript is enabled on the browser then can remove the warning message\n        function javascriptCheck() {\n            $('#no-script').remove();\n        }\n        \n        // creates div for interaction with bot      \n        function createNewDiv(who, message) {\n            var txt = who + ': ' + message;\n            var container;\n            if (who == 'You') {\n                container = $('<div class=\"sat-track--chat--message sat-track--chat--you\"></div>');\n            } else if (who == 'Error') {\n                container = $('<div class=\"sat-track--chat--message sat-track--chat--error\"></div>');\n            } else {\n                container = $('<div class=\"sat-track--chat--message sat-track--chat--bot\"></div>');\n            }\n            container.append($('<div></div>').text(txt))\n            return container;\n            \n        }\n        \n        // appends latest communication with bot to botchathistory\n        function chat(person, txt) {\n            $('#id_botchathistory').append(createNewDiv(person, txt));\n        }    \n        \n        // sets pressing of enter key to perform same action as send button\n        function enterbutton(){\n            $(function() {\n                $(\"form textarea\").keypress(function (e) {\n                if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {\n                     $('#id_enter').click();\n                     return false;\n                } else {\n                return true;\n                }\n             });\n            });\n        }\n        \n        // User has entered some text.\n        function onChatClick() {\n            var txt = $('#id_chattext').val();\n            chat('You', txt); \n            invokeAjax(txt);\n            $('#id_chattext').val('');\n        }\n        \n        function processOK(response) {\n            console.error(response);\n            \n            chat('Bot', response.message);\n            if (response.lat && response.lon) {\n                // sometimes text response only\n                chat('Bot', \"Latitude: \" + response.lat);\n                chat('Bot', \"Longitude: \" + response.lon);\n            }\n            // $('#id_contextdump').data('convContext', response.botresponse.messageout.context);\n        }\n              \n        function processNotOK() {\n            chat('Error', 'Error whilst attempting to talk to Bot');\n        }\n              \n        function invokeAjax(message) {\n            var contextdata = $('#id_contextdump').data('convContext');\n            console.error('checking stashed context data');\n            console.error(contextdata);\n                \n            var ajaxData = {};\n            ajaxData.msgdata = message;\n            if (contextdata) {\n                ajaxData.context = contextdata;    \n            }\n        \n            $.ajax({\n                type: 'POST',\n                url: 'botchat',\n                data: ajaxData,\n                success: processOK,\n                error: processNotOK\n            });\n        }  \n    </script>\n  </body>\n</html>\n\n","output":"str","x":410,"y":580,"wires":[["2391e54c.1b6c5a"]]},{"id":"2391e54c.1b6c5a","type":"http response","z":"1db1ae9c.679261","name":"Chat http response","statusCode":"","headers":{},"x":570,"y":580,"wires":[]},{"id":"7534a205.c0ff7c","type":"worldmap","z":"1db1ae9c.679261","name":"","lat":"scottda","lon":"","zoom":"","layer":"","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","x":750,"y":760,"wires":[]},{"id":"db2addf0.b1889","type":"function","z":"1db1ae9c.679261","name":"ISS to map","func":"msg.mydata = msg.payload;\n\nvar time = new Date(msg.mydata.timestamp)\nmsg.payload = {};\nmsg.payload.name = \"ISS @ \" + time.getHours() + ':' + time.getMinutes() + ' on ' + (1 + time.getMonth()) + '/' + time.getDate() + '/' + time.getFullYear();\nmsg.payload.lat = Math.round(100 * msg.mydata.position.lat)/100;\nmsg.payload.lon = Math.round(100 * msg.mydata.position.lon)/100;\nmsg.payload.layer = \"ISS\";\nmsg.payload.zoom = 15;\nmsg.payload.icon = \"satellite\";\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":760,"wires":[["7534a205.c0ff7c","3b6ed43a.5593ec","5bdc667f.a55bb8"]]},{"id":"d7631af4.2c6eb8","type":"inject","z":"1db1ae9c.679261","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"0.1","x":310,"y":700,"wires":[["700b90e3.bc3e8"]]},{"id":"700b90e3.bc3e8","type":"function","z":"1db1ae9c.679261","name":"add map layer","func":"msg.payload = {};\nmsg.payload.command = {};\n\nvar u = 'http://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png';\nvar o = JSON.stringify({ maxZoom: 2, attribution: '&copy; OpenStreetMap'});\n\nmsg.payload.command.map = {name:\"OSMhot\", url:u, opt:o};\nmsg.payload.command.layer = \"OSMhot\";\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":700,"wires":[["7534a205.c0ff7c"]]},{"id":"5bdc667f.a55bb8","type":"function","z":"1db1ae9c.679261","name":"move and zoom","func":"msg.payload = { command:{layer:\"Esri Terrain\",lat:msg.payload.lat,lon:msg.payload.lon,zoom:4} };\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":740,"wires":[["7534a205.c0ff7c"]]},{"id":"3b6ed43a.5593ec","type":"worldmap-tracks","z":"1db1ae9c.679261","depth":20,"name":"","x":470,"y":800,"wires":[["7534a205.c0ff7c"]]},{"id":"3ddd665c.41e5da","type":"function","z":"1db1ae9c.679261","name":"iss to reverse geocode function`","func":"msg.mydata = msg.payload;\n//msg.payload = {};\n//msg.payload = {};\nmsg.lat = msg.payload.position.lat;\nmsg.lon = msg.payload.position.lon;\n\nreturn msg;\n//return [msg, msg];","outputs":1,"noerr":0,"x":250,"y":160,"wires":[["87a11301.5df95"]]},{"id":"1d520ebd.fcb361","type":"http request","z":"1db1ae9c.679261","name":"Get reverse geocode","method":"GET","ret":"txt","url":"https://us1.locationiq.org/v1/reverse.php?key={{{API_key}}}&lat={{{lat}}}&lon={{{lon}}}&format=json","tls":"","x":660,"y":160,"wires":[["69bab8d5.008d58"]]},{"id":"69bab8d5.008d58","type":"json","z":"1db1ae9c.679261","name":"","property":"payload","action":"","pretty":false,"x":830,"y":160,"wires":[["89a604c3.382188"]]},{"id":"97caa8c0.719bd8","type":"link in","z":"1db1ae9c.679261","name":"","links":["aacce215.2df05","4c3ed4ab.472a4c"],"x":75,"y":160,"wires":[["3ddd665c.41e5da"]]},{"id":"9328e2be.6706e","type":"comment","z":"1db1ae9c.679261","name":"Watson Assistant Chat API","info":"","x":410,"y":60,"wires":[]},{"id":"c4ba60e7.a6509","type":"comment","z":"1db1ae9c.679261","name":"HTML Chat UI","info":"","x":410,"y":540,"wires":[]},{"id":"cda95729.0c6a18","type":"comment","z":"1db1ae9c.679261","name":"World Map UI","info":"","x":410,"y":660,"wires":[]},{"id":"87a11301.5df95","type":"credentials","z":"1db1ae9c.679261","name":"Credentials","props":[{"value":"API_key","type":"msg"}],"x":470,"y":160,"wires":[["1d520ebd.fcb361"]]},{"id":"c620a06d.65c05","type":"link in","z":"1db1ae9c.679261","name":"Chatbot Output","links":["89a604c3.382188","d13c104c.76df8","16991e39.2c9d62"],"x":75,"y":220,"wires":[["8b3db5c8.2a59f8"]]},{"id":"89a604c3.382188","type":"link out","z":"1db1ae9c.679261","name":"","links":["c620a06d.65c05"],"x":915,"y":160,"wires":[]},{"id":"ce6b0806.ea2528","type":"link in","z":"1db1ae9c.679261","name":"Point to Map","links":["4c3ed4ab.472a4c"],"x":135,"y":760,"wires":[["db2addf0.b1889"]]},{"id":"637d7cef.da3e64","type":"switch","z":"1db1ae9c.679261","name":"Assistant Intents","property":"assistant.intents[0].intent","propertyType":"msg","rules":[{"t":"eq","v":"what","vt":"str"},{"t":"eq","v":"where","vt":"str"},{"t":"eq","v":"where-historical","vt":"str"},{"t":"eq","v":"where-future","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":190,"y":400,"wires":[["466acd67.f9c0b4"],["5f987a41.a98db4"],["e4d858c7.56fe78"],["b0c0ba3c.13a838"]]},{"id":"a54b6020.dc352","type":"link out","z":"1db1ae9c.679261","name":"Chat Intents","links":["4f3ae23.93ef61c"],"x":795,"y":100,"wires":[]},{"id":"4f3ae23.93ef61c","type":"link in","z":"1db1ae9c.679261","name":"Intent Handler","links":["a54b6020.dc352"],"x":55,"y":400,"wires":[["637d7cef.da3e64"]]},{"id":"5f987a41.a98db4","type":"satellite","z":"1db1ae9c.679261","sattype":"stations","satid":"ISS (ZARYA)","name":"scottda","x":390,"y":380,"wires":[["4c3ed4ab.472a4c"]]},{"id":"4c3ed4ab.472a4c","type":"link out","z":"1db1ae9c.679261","name":"ISS Location","links":["97caa8c0.719bd8","ce6b0806.ea2528"],"x":535,"y":380,"wires":[]},{"id":"e4d858c7.56fe78","type":"timearray","z":"1db1ae9c.679261","plus":0,"minus":"10","samples":"20","name":"Last 10 Mins","x":390,"y":420,"wires":[["1a0cab34.226e15"]]},{"id":"b0c0ba3c.13a838","type":"timearray","z":"1db1ae9c.679261","plus":"10","minus":"0","samples":"20","name":"Next 10 Mins","x":390,"y":460,"wires":[["427ff909.8d39e8"]]},{"id":"c7128a6f.956898","type":"satellite","z":"1db1ae9c.679261","sattype":"stations","satid":"ISS (ZARYA)","name":"scottda","x":750,"y":440,"wires":[["d13c104c.76df8"]]},{"id":"dc96e845.a8e088","type":"function","z":"1db1ae9c.679261","name":"ISS Path to Line","func":"points = [];\n\nmsg.payload.forEach(function(p) {\n    points.push([p.position.lat, p.position.lon])\n})\n\nmsg.payload = {\n    name: 'Path',\n    line: points,\n    layer: \"ISS\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":840,"wires":[["7534a205.c0ff7c"]]},{"id":"d5bc464.0066cb8","type":"link in","z":"1db1ae9c.679261","name":"Path to Map","links":["d13c104c.76df8"],"x":335,"y":840,"wires":[["dc96e845.a8e088"]]},{"id":"d13c104c.76df8","type":"link out","z":"1db1ae9c.679261","name":"","links":["c620a06d.65c05","d5bc464.0066cb8"],"x":855,"y":440,"wires":[]},{"id":"c7d5b410.2733a8","type":"comment","z":"1db1ae9c.679261","name":"Handle Assistant Intents","info":"","x":410,"y":300,"wires":[]},{"id":"1a0cab34.226e15","type":"function","z":"1db1ae9c.679261","name":"Define Text","func":"msg.text = 'Showing Last 10 Mins'\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":420,"wires":[["c7128a6f.956898"]]},{"id":"427ff909.8d39e8","type":"function","z":"1db1ae9c.679261","name":"Define Text","func":"msg.text = 'Showing Next 10 Mins'\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":460,"wires":[["c7128a6f.956898"]]},{"id":"466acd67.f9c0b4","type":"function","z":"1db1ae9c.679261","name":"What is the ISS?","func":"msg.text = 'The International Space Station (ISS) is...'\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":340,"wires":[["16991e39.2c9d62"]]},{"id":"16991e39.2c9d62","type":"link out","z":"1db1ae9c.679261","name":"","links":["c620a06d.65c05"],"x":535,"y":340,"wires":[]}]
