data/NodeRED/flow.json
[{"id":"1fd1345.70d91cc","type":"watson-conversation-v1","z":"63030073.70c74","name":"ISS Assistant","workspaceid":"4467d721-1e89-43fc-94a5-1d08d4efdf94","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","x":450,"y":60,"wires":[["3c76e7e1.689828"]],"inputLabels":["msg.payload"]},{"id":"3c76e7e1.689828","type":"function","z":"63030073.70c74","name":"Generate Timestamp","func":"msg.assistant = msg.payload\nif (msg.payload.intents.length > 0 || msg.payload.entities.length >0){\n msg.payload = (new Date()).getTime()\n}\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":60,"wires":[["d7f6eeb0.f8d6a"]]},{"id":"dc6f78.2eae4088","type":"http in","z":"63030073.70c74","name":"","url":"/botchat","method":"post","upload":false,"swaggerDoc":"","x":80,"y":60,"wires":[["a7092e2f.68d22"]]},{"id":"a7092e2f.68d22","type":"function","z":"63030073.70c74","name":"process chat input","func":"// stash away incoming data\nmsg.mydata = {};\nmsg.mydata.messagein = msg.req.body.msgdata;\nmsg.payload = msg.mydata.messagein;\n\nmsg.params = { \"context\": msg.req.body.context};\n\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":60,"wires":[["1fd1345.70d91cc"]]},{"id":"9de9e3f6.44ce8","type":"function","z":"63030073.70c74","name":"Assistant output to Chat","func":"\ncurrent_payload = msg.payload;\nmsg.payload = {};\nif (current_payload && current_payload.hasOwnProperty('display_name')){\n    // geocoding response\n    msg.payload.message = \"Currently Location: \" + current_payload.display_name;\n    msg.payload.lat = current_payload.lat;\n    msg.payload.lon = current_payload.lon;\n} else if (current_payload.hasOwnProperty('error')) {\n    // geocoding error\n    msg.payload.message = \"Unknown Location - Probably over the ocean.\";\n\n    var lat_string = msg.mydata.position.lat.toString();\n    msg.payload.lat = Math.round(100*lat_string)/100;\n\n    var lon_string = msg.mydata.position.lon.toString();\n    msg.payload.lon = Math.round(100*lon_string)/100;\n} else {\n    // text-based answer\n    if (msg.mode) {\n        msg.payload.mode = msg.mode;\n    }\n    msg.payload.message = msg.text;\n    msg.payload.lat = undefined;\n    msg.payload.lon = undefined;\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":210,"y":180,"wires":[["9af75141.447eb"]]},{"id":"9af75141.447eb","type":"http response","z":"63030073.70c74","name":"Bot response","statusCode":"200","headers":{},"x":440,"y":180,"wires":[]},{"id":"f0f11228.de7a3","type":"http in","z":"63030073.70c74","name":"Chat home page","url":"/bot","method":"get","upload":false,"swaggerDoc":"","x":220,"y":620,"wires":[["bccd836f.72bb6"]]},{"id":"bccd836f.72bb6","type":"template","z":"63030073.70c74","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!--\n# Copyright 2018 IBM\n#\n# Licensed under the Apache License, Version 2.0 (the \"License\");\n# you may not use this file except in compliance with the License.\n# You may obtain a copy of the License at\n#\n#     http://www.apache.org/licenses/LICENSE-2.0\n#\n# Unless required by applicable law or agreed to in writing, software\n# distributed under the License is distributed on an \"AS IS\" BASIS,\n# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.\n# See the License for the specific language governing permissions and\n# limitations under the License.\n-->\n\n<html>\n  <head>\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <title>\n\t  My BOT\n\t</title>\n\t<link rel=\"stylesheet\"\n        type=\"text/css\"\n        href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\" />\n\t<style>\n    \tbody {\n    \t    font-family: monospace;\n    \t}\n\t    .sat-track {\n\t        display: flex;\n\t        height: 100%;\n            font-family: monospace;\n\t    }\n\t    \n\t    .sat-track--chat {\n\t        width: 30%;\n\t        max-width: 400px;\n\t        border-right: 1px solid #929292;\n\t        display: flex;\n\t        flex-direction: column;\n\t    }\n\t    \n\t    .sat-track--chat--logs {\n\t        flex-grow: 1;\n\t        background-color: #262626;\n\t        height: 70%;\n            overflow-y: scroll;\n\t    }\n\t    \n\t    .sat-track--chat--message {\n            width: 100%;\n            margin-top: 12px;\n            display: flex;\n\t    }\n\t    \n\t    .sat-track--chat--message div {\n\t        border-radius: 6px;\n            width: 60%;\n            color: white;\n            padding: 6px 12px;\n\t    }\n\t    \n\t    .sat-track--chat--you div {\n\t        background-color: #4eb8ff;\n            margin-left: 6px;\n            border-bottom-left-radius: 0px;\n\t    }\n\t    \n\t    .sat-track--chat--bot,\n\t    .sat-track--chat--error {\n\t        flex-direction: row-reverse;\n\t    }\n\t    \n\t    .sat-track--chat--bot div,\n\t    .sat-track--chat--error div {\n\t        background-color: #97b83a;\n            margin-right: 6px;\n            border-bottom-right-radius: 0px;\n\t    }\n\t    \n\t    .sat-track--chat--error div {\n\t        background-color: #cc5f5f;\n\t    }\n\t    \n\t    .sat-track--chat form {\n\t        background-color: #141414;\n            margin-bottom: 0px;\n            color: white;\n\t    }\n\t    \n\t    .sat-track--chat label {\n\t        display: block;\n            padding: 6px;\n            margin-bottom: 0px;\n            border-bottom: 1px solid #434343;\n\t    }\n\t    \n\t    .sat-track--chat textarea {\n    \t    resize: none;\n            width: 100%;\n            min-height: 50px;\n            color: black;\n            padding: 6px;\n\t    }\n\t    \n\t    .sat-track--chat button {\n    \t    width: 100%;\n            padding: 6px 6px;\n            font-size: 12pt;\n            background: #268cb4;\n            border: 1px solid #02b8ff;\n            color: white;\n\t    }\n\t    \n\t    .sat-track--chat button:hover {\n\t        cursor: pointer;\n            background: #97b83a;\n            border: 1px solid #02b8ff;\n            color: white;\n\t    }\n\t    \n\t    h1 {\n\t        margin: 0px;\n            background-color: black;\n            color: #eee;\n            padding: 12px 6px;\n            font-size: 16pt;\n            border-bottom: 1px solid #00b8ff;\n\t    }\n\t    \n\t    .sat-track--map {\n\t        width: 100%;\n\t    }\n\t    \n\t    .sat-track--map iframe {\n\t        width: 100%;\n\t        height: 100%;\n\t    }\n\t    \n\t    .sat-track--map small {\n\t        position: absolute;\n            bottom: 0px;\n\t    }\n\t    \n\t</style>\n  </head>\n  <body>\n\n    <div class=\"container\">\n      <div id=\"no-script\"class=\"bg-info\">\n        This application needs JavaScript enabled in your browser!\n      </div>\n      <div id=\"id_contextdump\"></div>\n    </div>\n    \n    <div class=\"sat-track\">\n        <div class=\"sat-track--chat\">\n            <h1>ISS Tracker BOT</h1>\n            <div class=\"sat-track--chat--logs\" id=\"id_botchathistory\"></div>\n    \t    <div>\n    \t        <form>\n                  <label for=\"id_chattext\">Your Input: </label>\n                  <textarea type=\"text\" name=\"chattext\" id=\"id_chattext\"></textarea>\n    \t        </form>\n    \t        <button onclick=\"javascript:onChatClick()\" id=\"id_enter\">Send</button>\n    \t    </div>\n        </div>\n        <div class=\"sat-track--map\" id=\"WorldMap\">\n            <iframe id=\"mode-iframe\" width=\"800\" height=\"600\" frameborder=\"0\" scrolling=\"no\" marginheight=\"0\" marginwidth=\"0\" src=\"./worldmap\"></iframe>\n            <br /><small><a id=\"mode-link\" href=\"./worldmap\" style=\"color:#0000FF;text-align:left\">View Larger Map</a></small>\n        </div>\n    </div>\n\t  \n    <script type=\"text/javascript\" src=\"https://code.jquery.com/jquery-2.1.4.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n\n    <script>\n        $(document).ready(function() {\n            javascriptCheck();\n            $('#id_contextdump').hide();\n            enterbutton();\n            //invokeAjax (\"Hello\");\n        });\n        \n        // if javascript is enabled on the browser then can remove the warning message\n        function javascriptCheck() {\n            $('#no-script').remove();\n        }\n        \n        // creates div for interaction with bot      \n        function createNewDiv(who, message) {\n            var txt = who + ': ' + message;\n            var container;\n            if (who == 'You') {\n                container = $('<div class=\"sat-track--chat--message sat-track--chat--you\"></div>');\n            } else if (who == 'Error') {\n                container = $('<div class=\"sat-track--chat--message sat-track--chat--error\"></div>');\n            } else {\n                container = $('<div class=\"sat-track--chat--message sat-track--chat--bot\"></div>');\n            }\n            container.append($('<div></div>').text(txt))\n            return container;\n            \n        }\n        \n        // appends latest communication with bot to botchathistory\n        function chat(person, txt) {\n            $('#id_botchathistory').append(createNewDiv(person, txt));\n        }    \n        \n        // sets pressing of enter key to perform same action as send button\n        function enterbutton(){\n            $(function() {\n                $(\"form textarea\").keypress(function (e) {\n                if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {\n                     $('#id_enter').click();\n                     return false;\n                } else {\n                return true;\n                }\n             });\n            });\n        }\n        \n        // User has entered some text.\n        function onChatClick() {\n            var txt = $('#id_chattext').val();\n            chat('You', txt); \n            invokeAjax(txt);\n            $('#id_chattext').val('');\n        }\n        \n        function switchMode(mode) {\n            if (mode === '3d') {\n                document.getElementById('mode-iframe').src = './earth'\n                document.getElementById('mode-link').href = './earth'\n            } else {\n                document.getElementById('mode-iframe').src = './worldmap'\n                document.getElementById('mode-link').href = './worldmap'\n            }\n            \n        }\n        \n        function processOK(response) {\n            console.log(response);\n            \n            if (response.mode) {\n                switchMode(response.mode)\n                chat('Bot', 'Mode Changed to ' + response.mode)\n            } else {\n                chat('Bot', response.message);\n                if (response.lat && response.lon) {\n                    // sometimes text response only\n                    chat('Bot', \"Latitude: \" + response.lat);\n                    chat('Bot', \"Longitude: \" + response.lon);\n                }\n            }\n            // $('#id_contextdump').data('convContext', response.botresponse.messageout.context);\n        }\n              \n        function processNotOK() {\n            chat('Error', 'Error whilst attempting to talk to Bot');\n        }\n              \n        function invokeAjax(message) {\n            // var contextdata = $('#id_contextdump').data('convContext');\n            // console.error('checking stashed context data');\n            // console.error(contextdata);\n                \n            var ajaxData = {};\n            ajaxData.msgdata = message;\n            // if (contextdata) {\n            //     ajaxData.context = contextdata;    \n            // }\n        \n            $.ajax({\n                type: 'POST',\n                url: 'botchat',\n                data: ajaxData,\n                success: processOK,\n                error: processNotOK\n            });\n        }  \n    </script>\n  </body>\n</html>\n\n","output":"str","x":390,"y":620,"wires":[["a6994954.97d2e8"]]},{"id":"a6994954.97d2e8","type":"http response","z":"63030073.70c74","name":"Chat http response","statusCode":"","headers":{},"x":570,"y":620,"wires":[]},{"id":"e5ba6c03.ddf5b","type":"function","z":"63030073.70c74","name":"ISS to map","func":"msg.mydata = msg.payload;\n\nvar time = new Date(msg.mydata.timestamp)\nmsg.payload = {};\nmsg.payload.name = \"ISS @ \" + time.getHours() + ':' + time.getMinutes() + ' on ' + (1 + time.getMonth()) + '/' + time.getDate() + '/' + time.getFullYear();\nmsg.payload.lat = Math.round(100 * msg.mydata.position.lat)/100;\nmsg.payload.lon = Math.round(100 * msg.mydata.position.lon)/100;\nmsg.payload.layer = \"ISS\";\nmsg.payload.zoom = 15;\nmsg.payload.icon = \"iss\";\n\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":800,"wires":[["12530a7e.d08936","5669f317.8d9a3c","93c8473d.db21b8"]]},{"id":"4ce7ee1b.bd363","type":"inject","z":"63030073.70c74","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"x":290,"y":740,"wires":[["82ad09cb.f78298"]]},{"id":"82ad09cb.f78298","type":"function","z":"63030073.70c74","name":"add map layer","func":"msg.payload = {};\nmsg.payload.command = {};\n\nvar u = 'http://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png';\nvar o = JSON.stringify({ maxZoom: 2, attribution: '&copy; OpenStreetMap'});\n\nmsg.payload.command.map = {name:\"OSMhot\", url:u, opt:o};\nmsg.payload.command.layer = \"OSMhot\";\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":740,"wires":[["12530a7e.d08936"]]},{"id":"93c8473d.db21b8","type":"function","z":"63030073.70c74","name":"move and zoom","func":"msg.payload = { \n    command:{\n        layer:\"Esri Terrain\",\n        lat:msg.payload.lat,\n        lon:msg.payload.lon,\n        zoom:4\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":780,"wires":[["12530a7e.d08936"]]},{"id":"e9fba28c.e52b1","type":"function","z":"63030073.70c74","name":"iss to reverse geocode function`","func":"msg.mydata = msg.payload;\n//msg.payload = {};\n//msg.payload = {};\nmsg.lat = msg.payload.position.lat;\nmsg.lon = msg.payload.position.lon;\n\nreturn msg;\n//return [msg, msg];","outputs":1,"noerr":0,"x":230,"y":120,"wires":[["ba3bcdf.850f63"]]},{"id":"d9afbb06.628ad8","type":"http request","z":"63030073.70c74","name":"Get reverse geocode","method":"GET","ret":"txt","url":"https://us1.locationiq.org/v1/reverse.php?key={{{API_key}}}&lat={{{lat}}}&lon={{{lon}}}&format=json","tls":"","x":700,"y":120,"wires":[["e8bbabfc.b52948"]]},{"id":"e8bbabfc.b52948","type":"json","z":"63030073.70c74","name":"","pretty":false,"x":870,"y":120,"wires":[["7cfe8a55.b98f34"]]},{"id":"d689408e.a59d2","type":"link in","z":"63030073.70c74","name":"","links":["aacce215.2df05","34af51ad.616d9e"],"x":55,"y":120,"wires":[["e9fba28c.e52b1"]]},{"id":"b491b40.465485","type":"comment","z":"63030073.70c74","name":"Watson Assistant Chat API","info":"","x":423,"y":20,"wires":[]},{"id":"69e70c58.1b7ea4","type":"comment","z":"63030073.70c74","name":"HTML Chat UI","info":"","x":390,"y":580,"wires":[]},{"id":"3b323c43.a22364","type":"comment","z":"63030073.70c74","name":"World Map UI","info":"","x":390,"y":700,"wires":[]},{"id":"9382c670.f87468","type":"link in","z":"63030073.70c74","name":"Chatbot Output","links":["7cfe8a55.b98f34","bfbc5b9.b3de8a8","b8811dee.192ec","b68de165.5a7f2","4f1693cd.cc2cfc"],"x":55,"y":180,"wires":[["9de9e3f6.44ce8"]]},{"id":"7cfe8a55.b98f34","type":"link out","z":"63030073.70c74","name":"","links":["9382c670.f87468"],"x":955,"y":120,"wires":[]},{"id":"c1aa305e.7eaa9","type":"link in","z":"63030073.70c74","name":"Point to Map","links":["34af51ad.616d9e"],"x":115,"y":800,"wires":[["e5ba6c03.ddf5b","d9b9783a.c97cb8"]]},{"id":"f49a93a3.9ddd3","type":"switch","z":"63030073.70c74","name":"Assistant Intents","property":"assistant.intents[0].intent","propertyType":"msg","rules":[{"t":"eq","v":"what","vt":"str"},{"t":"eq","v":"where","vt":"str"},{"t":"eq","v":"where-historical","vt":"str"},{"t":"eq","v":"where-future","vt":"str"},{"t":"eq","v":"mode-2d","vt":"str"},{"t":"eq","v":"mode-3d","vt":"str"}],"checkall":"true","outputs":6,"x":170,"y":400,"wires":[["5badfbec.1135e4"],["b014fbcf.f50058"],["9b2f2736.731b58"],["bc0cb000.fdf51"],["d339958b.63f148"],["4008fdb2.998c84"]]},{"id":"d7f6eeb0.f8d6a","type":"link out","z":"63030073.70c74","name":"Chat Intents","links":["f4031626.424a68"],"x":775,"y":60,"wires":[]},{"id":"f4031626.424a68","type":"link in","z":"63030073.70c74","name":"Intent Handler","links":["d7f6eeb0.f8d6a"],"x":35,"y":400,"wires":[["f49a93a3.9ddd3"]]},{"id":"34af51ad.616d9e","type":"link out","z":"63030073.70c74","name":"ISS Location","links":["d689408e.a59d2","c1aa305e.7eaa9"],"x":535,"y":340,"wires":[]},{"id":"f658ed6f.1bc3","type":"function","z":"63030073.70c74","name":"ISS Path to Line","func":"points = [];\n\nmsg.payload.forEach(function(p) {\n    points.push([p.position.lat, p.position.lon])\n})\n\nmsg.payload = {\n    name: 'Path',\n    line: points,\n    layer: \"ISS\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":880,"wires":[["12530a7e.d08936"]]},{"id":"210f3346.75cb1c","type":"link in","z":"63030073.70c74","name":"Path to Map","links":["bfbc5b9.b3de8a8"],"x":315,"y":880,"wires":[["f658ed6f.1bc3","d9b9783a.c97cb8"]]},{"id":"bfbc5b9.b3de8a8","type":"link out","z":"63030073.70c74","name":"","links":["9382c670.f87468","210f3346.75cb1c"],"x":855,"y":400,"wires":[]},{"id":"90a7babf.c23628","type":"comment","z":"63030073.70c74","name":"Handle Assistant Intents","info":"","x":390,"y":260,"wires":[]},{"id":"516bbea0.9acc","type":"function","z":"63030073.70c74","name":"Define Text","func":"msg.text = 'Showing Last 10 Mins'\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":380,"wires":[["e3a3d932.ef90e8"]]},{"id":"a9c65552.0cd3a8","type":"function","z":"63030073.70c74","name":"Define Text","func":"msg.text = 'Showing Next 10 Mins'\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":420,"wires":[["e3a3d932.ef90e8"]]},{"id":"5badfbec.1135e4","type":"function","z":"63030073.70c74","name":"What is the ISS?","func":"msg.text = 'The International Space Station (ISS) is a habitable artificial satellite in low Earth orbit (~400km). It has between 3 and 6 astronauts onboard at any giving time and serves as a microgravity and space environment research laboratory.'\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":300,"wires":[["b8811dee.192ec"]]},{"id":"b8811dee.192ec","type":"link out","z":"63030073.70c74","name":"","links":["9382c670.f87468"],"x":535,"y":300,"wires":[]},{"id":"12530a7e.d08936","type":"worldmap","z":"63030073.70c74","name":"","lat":"scottda","lon":"","zoom":"","layer":"","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","x":745,"y":801,"wires":[]},{"id":"5669f317.8d9a3c","type":"worldmap-tracks","z":"63030073.70c74","depth":20,"name":"","x":465,"y":841,"wires":[["12530a7e.d08936"]]},{"id":"b014fbcf.f50058","type":"satellite","z":"63030073.70c74","sattype":"stations","satid":"ISS (ZARYA)","name":"scottda","x":390,"y":340,"wires":[["34af51ad.616d9e"]]},{"id":"e3a3d932.ef90e8","type":"satellite","z":"63030073.70c74","sattype":"stations","satid":"ISS (ZARYA)","name":"scottda","x":750,"y":400,"wires":[["bfbc5b9.b3de8a8"]]},{"id":"9b2f2736.731b58","type":"timearray","z":"63030073.70c74","plus":0,"minus":"10","samples":"20","name":"Last 10 Mins","x":390,"y":380,"wires":[["516bbea0.9acc"]]},{"id":"bc0cb000.fdf51","type":"timearray","z":"63030073.70c74","plus":"10","minus":"0","samples":"20","name":"Next 10 Mins","x":390,"y":420,"wires":[["a9c65552.0cd3a8"]]},{"id":"ba3bcdf.850f63","type":"credentials","z":"63030073.70c74","name":"Credentials","props":[{"value":"API_key","type":"msg"}],"x":465,"y":121,"wires":[["d9afbb06.628ad8"]]},{"id":"d9b9783a.c97cb8","type":"earth","z":"63030073.70c74","name":"","x":430,"y":920,"wires":[]},{"id":"d339958b.63f148","type":"function","z":"63030073.70c74","name":"Define Mode","func":"msg.mode = '2d'\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":460,"wires":[["b68de165.5a7f2"]]},{"id":"4008fdb2.998c84","type":"function","z":"63030073.70c74","name":"Define Mode","func":"msg.mode = '3d'\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":500,"wires":[["4f1693cd.cc2cfc"]]},{"id":"b68de165.5a7f2","type":"link out","z":"63030073.70c74","name":"","links":["9382c670.f87468"],"x":495,"y":460,"wires":[]},{"id":"4f1693cd.cc2cfc","type":"link out","z":"63030073.70c74","name":"","links":["9382c670.f87468"],"x":495,"y":500,"wires":[]}]
