data/NodeRED/flow.json
[{"id":"f6ee2276.eda9f","type":"watson-conversation-v1","z":"3e7e6604.d8a19a","name":"ISS Assistant","workspaceid":"be7b7ec1-241e-433f-981a-3628c06ca1d9","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":895,"y":119,"wires":[["f4e432e.c7c35d"]],"inputLabels":["msg.payload"]},{"id":"f4e432e.c7c35d","type":"function","z":"3e7e6604.d8a19a","name":"Generate Timestamp","func":"msg.assistant = msg.payload\nif (msg.payload.intents.length > 0 || msg.payload.entities.length >0){\n msg.payload = (new Date()).getTime()\n}\nreturn msg;","outputs":1,"noerr":0,"x":1085,"y":119,"wires":[["a2083673.4872e8"]]},{"id":"7204aac4.c918e4","type":"http in","z":"3e7e6604.d8a19a","name":"","url":"/botchat","method":"post","upload":false,"swaggerDoc":"","x":525,"y":119,"wires":[["db67caf2.ce0928"]]},{"id":"db67caf2.ce0928","type":"function","z":"3e7e6604.d8a19a","name":"process chat input","func":"// stash away incoming data\nmsg.mydata = {};\nmsg.mydata.messagein = msg.req.body.msgdata;\nmsg.payload = msg.mydata.messagein;\n\nmsg.params = { \"context\": msg.req.body.context};\n\nreturn msg;","outputs":1,"noerr":0,"x":715,"y":119,"wires":[["f6ee2276.eda9f"]]},{"id":"262c4c7b.3d6944","type":"function","z":"3e7e6604.d8a19a","name":"Assistant output to Chat","func":"\ncurrent_payload = msg.payload;\nmsg.payload = {};\nif (current_payload && current_payload.hasOwnProperty('display_name')){\n    // geocoding response\n    msg.payload.message = \"Currently Location: \" + current_payload.display_name;\n    msg.payload.lat = current_payload.lat;\n    msg.payload.lon = current_payload.lon;\n} else if (current_payload.hasOwnProperty('error')) {\n    // geocoding error\n    msg.payload.message = \"Unknown Location - Probably over the ocean.\";\n\n    var lat_string = msg.mydata.position.lat.toString();\n    msg.payload.lat = Math.round(100*lat_string)/100;\n\n    var lon_string = msg.mydata.position.lon.toString();\n    msg.payload.lon = Math.round(100*lon_string)/100;\n} else {\n    // text-based answer\n    msg.payload.message = msg.text;\n    msg.payload.lat = undefined;\n    msg.payload.lon = undefined;\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":655,"y":239,"wires":[["d8260d15.33f8d"]]},{"id":"d8260d15.33f8d","type":"http response","z":"3e7e6604.d8a19a","name":"Bot response","statusCode":"200","headers":{},"x":885,"y":239,"wires":[]},{"id":"2628b0ec.6f3bd","type":"http in","z":"3e7e6604.d8a19a","name":"Chat home page","url":"/bot","method":"get","upload":false,"swaggerDoc":"","x":685,"y":599,"wires":[["970956d.a74d9a8"]]},{"id":"970956d.a74d9a8","type":"template","z":"3e7e6604.d8a19a","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!--\n# Copyright 2018 IBM\n#\n# Licensed under the Apache License, Version 2.0 (the \"License\");\n# you may not use this file except in compliance with the License.\n# You may obtain a copy of the License at\n#\n#     http://www.apache.org/licenses/LICENSE-2.0\n#\n# Unless required by applicable law or agreed to in writing, software\n# distributed under the License is distributed on an \"AS IS\" BASIS,\n# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.\n# See the License for the specific language governing permissions and\n# limitations under the License.\n-->\n\n<html>\n  <head>\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <title>\n\t  My BOT\n\t</title>\n\t<link rel=\"stylesheet\"\n        type=\"text/css\"\n        href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\" />\n\t<style>\n    \tbody {\n    \t    font-family: monospace;\n    \t}\n\t    .sat-track {\n\t        display: flex;\n\t        height: 100%;\n            font-family: monospace;\n\t    }\n\t    \n\t    .sat-track--chat {\n\t        width: 30%;\n\t        max-width: 400px;\n\t        border-right: 1px solid #929292;\n\t        display: flex;\n\t        flex-direction: column;\n\t    }\n\t    \n\t    .sat-track--chat--logs {\n\t        flex-grow: 1;\n\t        background-color: #262626;\n\t        height: 70%;\n            overflow-y: scroll;\n\t    }\n\t    \n\t    .sat-track--chat--message {\n            width: 100%;\n            margin-top: 12px;\n            display: flex;\n\t    }\n\t    \n\t    .sat-track--chat--message div {\n\t        border-radius: 6px;\n            width: 60%;\n            color: white;\n            padding: 6px 12px;\n\t    }\n\t    \n\t    .sat-track--chat--you div {\n\t        background-color: #4eb8ff;\n            margin-left: 6px;\n            border-bottom-left-radius: 0px;\n\t    }\n\t    \n\t    .sat-track--chat--bot,\n\t    .sat-track--chat--error {\n\t        flex-direction: row-reverse;\n\t    }\n\t    \n\t    .sat-track--chat--bot div,\n\t    .sat-track--chat--error div {\n\t        background-color: #97b83a;\n            margin-right: 6px;\n            border-bottom-right-radius: 0px;\n\t    }\n\t    \n\t    .sat-track--chat--error div {\n\t        background-color: #cc5f5f;\n\t    }\n\t    \n\t    .sat-track--chat form {\n\t        background-color: #141414;\n            margin-bottom: 0px;\n            color: white;\n\t    }\n\t    \n\t    .sat-track--chat label {\n\t        display: block;\n            padding: 6px;\n            margin-bottom: 0px;\n            border-bottom: 1px solid #434343;\n\t    }\n\t    \n\t    .sat-track--chat textarea {\n    \t    resize: none;\n            width: 100%;\n            min-height: 50px;\n            color: black;\n            padding: 6px;\n\t    }\n\t    \n\t    .sat-track--chat button {\n    \t    width: 100%;\n            padding: 6px 6px;\n            font-size: 12pt;\n            background: #268cb4;\n            border: 1px solid #02b8ff;\n            color: white;\n\t    }\n\t    \n\t    .sat-track--chat button:hover {\n\t        cursor: pointer;\n            background: #97b83a;\n            border: 1px solid #02b8ff;\n            color: white;\n\t    }\n\t    \n\t    h1 {\n\t        margin: 0px;\n            background-color: black;\n            color: #eee;\n            padding: 12px 6px;\n            font-size: 16pt;\n            border-bottom: 1px solid #00b8ff;\n\t    }\n\t    \n\t    .sat-track--map {\n\t        width: 100%;\n\t    }\n\t    \n\t    .sat-track--map iframe {\n\t        width: 100%;\n\t        height: 100%;\n\t    }\n\t    \n\t    .sat-track--map small {\n\t        position: absolute;\n            bottom: 0px;\n\t    }\n\t    \n\t</style>\n  </head>\n  <body>\n\n    <div class=\"container\">\n      <div id=\"no-script\"class=\"bg-info\">\n        This application needs JavaScript enabled in your browser!\n      </div>\n      <div id=\"id_contextdump\"></div>\n    </div>\n    \n    <div class=\"sat-track\">\n        <div class=\"sat-track--chat\">\n            <h1>ISS Tracker BOT</h1>\n            <div class=\"sat-track--chat--logs\" id=\"id_botchathistory\"></div>\n    \t    <div>\n    \t        <form>\n                  <label for=\"id_chattext\">Your Input: </label>\n                  <textarea type=\"text\" name=\"chattext\" id=\"id_chattext\"></textarea>\n    \t        </form>\n    \t        <button onclick=\"javascript:onChatClick()\" id=\"id_enter\">Send</button>\n    \t    </div>\n        </div>\n        <div class=\"sat-track--map\" id=\"WorldMap\">\n            <iframe width=\"800\" height=\"600\" frameborder=\"0\" scrolling=\"no\" marginheight=\"0\" marginwidth=\"0\" src=\"/worldmap\"></iframe>\n            <br /><small><a href=\"./worldmap\" style=\"color:#0000FF;text-align:left\">View Larger Map</a></small>\n        </div>\n    </div>\n\t  \n    <script type=\"text/javascript\" src=\"https://code.jquery.com/jquery-2.1.4.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n\n    <script>\n        $(document).ready(function() {\n            javascriptCheck();\n            $('#id_contextdump').hide();\n            enterbutton();\n            //invokeAjax (\"Hello\");\n        });\n        \n        // if javascript is enabled on the browser then can remove the warning message\n        function javascriptCheck() {\n            $('#no-script').remove();\n        }\n        \n        // creates div for interaction with bot      \n        function createNewDiv(who, message) {\n            var txt = who + ': ' + message;\n            var container;\n            if (who == 'You') {\n                container = $('<div class=\"sat-track--chat--message sat-track--chat--you\"></div>');\n            } else if (who == 'Error') {\n                container = $('<div class=\"sat-track--chat--message sat-track--chat--error\"></div>');\n            } else {\n                container = $('<div class=\"sat-track--chat--message sat-track--chat--bot\"></div>');\n            }\n            container.append($('<div></div>').text(txt))\n            return container;\n            \n        }\n        \n        // appends latest communication with bot to botchathistory\n        function chat(person, txt) {\n            $('#id_botchathistory').append(createNewDiv(person, txt));\n        }    \n        \n        // sets pressing of enter key to perform same action as send button\n        function enterbutton(){\n            $(function() {\n                $(\"form textarea\").keypress(function (e) {\n                if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {\n                     $('#id_enter').click();\n                     return false;\n                } else {\n                return true;\n                }\n             });\n            });\n        }\n        \n        // User has entered some text.\n        function onChatClick() {\n            var txt = $('#id_chattext').val();\n            chat('You', txt); \n            invokeAjax(txt);\n            $('#id_chattext').val('');\n        }\n        \n        function processOK(response) {\n            console.log(response);\n            \n            chat('Bot', response.message);\n            if (response.lat && response.lon) {\n                // sometimes text response only\n                chat('Bot', \"Latitude: \" + response.lat);\n                chat('Bot', \"Longitude: \" + response.lon);\n            }\n            // $('#id_contextdump').data('convContext', response.botresponse.messageout.context);\n        }\n              \n        function processNotOK() {\n            chat('Error', 'Error whilst attempting to talk to Bot');\n        }\n              \n        function invokeAjax(message) {\n            // var contextdata = $('#id_contextdump').data('convContext');\n            // console.error('checking stashed context data');\n            // console.error(contextdata);\n                \n            var ajaxData = {};\n            ajaxData.msgdata = message;\n            // if (contextdata) {\n            //     ajaxData.context = contextdata;    \n            // }\n        \n            $.ajax({\n                type: 'POST',\n                url: 'botchat',\n                data: ajaxData,\n                success: processOK,\n                error: processNotOK\n            });\n        }  \n    </script>\n  </body>\n</html>\n\n","output":"str","x":835,"y":599,"wires":[["30da5498.221ffc"]]},{"id":"30da5498.221ffc","type":"http response","z":"3e7e6604.d8a19a","name":"Chat http response","statusCode":"","headers":{},"x":995,"y":599,"wires":[]},{"id":"9cbee274.692af","type":"function","z":"3e7e6604.d8a19a","name":"ISS to map","func":"msg.mydata = msg.payload;\n\nvar time = new Date(msg.mydata.timestamp)\nmsg.payload = {};\nmsg.payload.name = \"ISS @ \" + time.getHours() + ':' + time.getMinutes() + ' on ' + (1 + time.getMonth()) + '/' + time.getDate() + '/' + time.getFullYear();\nmsg.payload.lat = Math.round(100 * msg.mydata.position.lat)/100;\nmsg.payload.lon = Math.round(100 * msg.mydata.position.lon)/100;\nmsg.payload.layer = \"ISS\";\nmsg.payload.zoom = 15;\n// msg.payload.icon = \"satellite\";\n\nreturn msg;","outputs":1,"noerr":0,"x":695,"y":779,"wires":[["894ba8e5.376928","ed6be53e.b8b9c8","279eab89.082fd4","f93c188e.5513d8"]]},{"id":"344d263f.43961a","type":"inject","z":"3e7e6604.d8a19a","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"0.1","x":735,"y":719,"wires":[["9e6bdc3c.b4cb6"]]},{"id":"9e6bdc3c.b4cb6","type":"function","z":"3e7e6604.d8a19a","name":"add map layer","func":"msg.payload = {};\nmsg.payload.command = {};\n\nvar u = 'http://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png';\nvar o = JSON.stringify({ maxZoom: 2, attribution: '&copy; OpenStreetMap'});\n\nmsg.payload.command.map = {name:\"OSMhot\", url:u, opt:o};\nmsg.payload.command.layer = \"OSMhot\";\n\nreturn msg;","outputs":1,"noerr":0,"x":905,"y":719,"wires":[["894ba8e5.376928"]]},{"id":"279eab89.082fd4","type":"function","z":"3e7e6604.d8a19a","name":"move and zoom","func":"msg.payload = { \n    command:{\n        layer:\"Esri Terrain\",\n        lat:msg.payload.lat,\n        lon:msg.payload.lon,\n        zoom:4\n    }\n};\nreturn msg;","outputs":1,"noerr":0,"x":905,"y":759,"wires":[["894ba8e5.376928","f93c188e.5513d8"]]},{"id":"57bc9ea3.11399","type":"function","z":"3e7e6604.d8a19a","name":"iss to reverse geocode function`","func":"msg.mydata = msg.payload;\n//msg.payload = {};\n//msg.payload = {};\nmsg.lat = msg.payload.position.lat;\nmsg.lon = msg.payload.position.lon;\n\nreturn msg;\n//return [msg, msg];","outputs":1,"noerr":0,"x":675,"y":179,"wires":[["97990e34.42a59"]]},{"id":"2d30049d.39085c","type":"http request","z":"3e7e6604.d8a19a","name":"Get reverse geocode","method":"GET","ret":"txt","url":"https://us1.locationiq.org/v1/reverse.php?key={{{API_key}}}&lat={{{lat}}}&lon={{{lon}}}&format=json","tls":"","x":1085,"y":179,"wires":[["4e2c466.069d1b8"]]},{"id":"4e2c466.069d1b8","type":"json","z":"3e7e6604.d8a19a","name":"","property":"payload","action":"","pretty":false,"x":1255,"y":179,"wires":[["fb03c7f0.78d248"]]},{"id":"f1beb6f.a65c648","type":"link in","z":"3e7e6604.d8a19a","name":"","links":["aacce215.2df05","1b04a073.e6577"],"x":500,"y":179,"wires":[["57bc9ea3.11399"]]},{"id":"25402c3e.111294","type":"comment","z":"3e7e6604.d8a19a","name":"Watson Assistant Chat API","info":"","x":868,"y":79,"wires":[]},{"id":"dff604c7.799558","type":"comment","z":"3e7e6604.d8a19a","name":"HTML Chat UI","info":"","x":835,"y":559,"wires":[]},{"id":"50ad9951.972088","type":"comment","z":"3e7e6604.d8a19a","name":"World Map UI","info":"","x":835,"y":679,"wires":[]},{"id":"99d5fd99.f2dbd","type":"link in","z":"3e7e6604.d8a19a","name":"Chatbot Output","links":["fb03c7f0.78d248","1627229c.d3ffcd","29bf0e21.9b5a12"],"x":500,"y":239,"wires":[["262c4c7b.3d6944"]]},{"id":"fb03c7f0.78d248","type":"link out","z":"3e7e6604.d8a19a","name":"","links":["99d5fd99.f2dbd"],"x":1340,"y":179,"wires":[]},{"id":"540580b6.8a569","type":"link in","z":"3e7e6604.d8a19a","name":"Point to Map","links":["1b04a073.e6577"],"x":560,"y":779,"wires":[["9cbee274.692af","f93c188e.5513d8"]]},{"id":"b198206f.44c02","type":"switch","z":"3e7e6604.d8a19a","name":"Assistant Intents","property":"assistant.intents[0].intent","propertyType":"msg","rules":[{"t":"eq","v":"what","vt":"str"},{"t":"eq","v":"where","vt":"str"},{"t":"eq","v":"where-historical","vt":"str"},{"t":"eq","v":"where-future","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":615,"y":419,"wires":[["ee0a96d3.1e2de8"],["4ea76adf.bd1104"],["70397a4b.1792e4"],["d5a602fe.eb1e2"]]},{"id":"a2083673.4872e8","type":"link out","z":"3e7e6604.d8a19a","name":"Chat Intents","links":["602c8692.e7d978"],"x":1220,"y":119,"wires":[]},{"id":"602c8692.e7d978","type":"link in","z":"3e7e6604.d8a19a","name":"Intent Handler","links":["a2083673.4872e8"],"x":480,"y":419,"wires":[["b198206f.44c02"]]},{"id":"1b04a073.e6577","type":"link out","z":"3e7e6604.d8a19a","name":"ISS Location","links":["f1beb6f.a65c648","540580b6.8a569"],"x":960,"y":399,"wires":[]},{"id":"63366c18.8ba454","type":"function","z":"3e7e6604.d8a19a","name":"ISS Path to Line","func":"points = [];\n\nmsg.payload.forEach(function(p) {\n    points.push([p.position.lat, p.position.lon])\n})\n\nmsg.payload = {\n    name: 'Path',\n    line: points,\n    layer: \"ISS\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":905,"y":859,"wires":[["894ba8e5.376928"]]},{"id":"e767b7db.ff42e8","type":"link in","z":"3e7e6604.d8a19a","name":"Path to Map","links":["1627229c.d3ffcd"],"x":760,"y":859,"wires":[["63366c18.8ba454"]]},{"id":"1627229c.d3ffcd","type":"link out","z":"3e7e6604.d8a19a","name":"","links":["99d5fd99.f2dbd","e767b7db.ff42e8"],"x":1280,"y":459,"wires":[]},{"id":"bbb07024.88671","type":"comment","z":"3e7e6604.d8a19a","name":"Handle Assistant Intents","info":"","x":835,"y":319,"wires":[]},{"id":"15af68e2.7fe327","type":"function","z":"3e7e6604.d8a19a","name":"Define Text","func":"msg.text = 'Showing Last 10 Mins'\n\nreturn msg;","outputs":1,"noerr":0,"x":995,"y":439,"wires":[["6e38ae0b.51735"]]},{"id":"8f5ae25e.0541c","type":"function","z":"3e7e6604.d8a19a","name":"Define Text","func":"msg.text = 'Showing Next 10 Mins'\n\nreturn msg;","outputs":1,"noerr":0,"x":995,"y":479,"wires":[["6e38ae0b.51735"]]},{"id":"ee0a96d3.1e2de8","type":"function","z":"3e7e6604.d8a19a","name":"What is the ISS?","func":"msg.text = 'The International Space Station (ISS) is a habitable artificial satellite in low Earth orbit (~400km). It has between 3 and 6 astronauts onboard at any giving time and serves as a microgravity and space environment research laboratory.'\n\nreturn msg;","outputs":1,"noerr":0,"x":835,"y":359,"wires":[["29bf0e21.9b5a12"]]},{"id":"29bf0e21.9b5a12","type":"link out","z":"3e7e6604.d8a19a","name":"","links":["99d5fd99.f2dbd"],"x":960,"y":359,"wires":[]},{"id":"97990e34.42a59","type":"credentials","z":"3e7e6604.d8a19a","name":"Credentials","props":[{"value":"API_key","type":"msg"}],"x":910,"y":180,"wires":[["2d30049d.39085c"]]},{"id":"894ba8e5.376928","type":"worldmap","z":"3e7e6604.d8a19a","name":"","lat":"scottda","lon":"","zoom":"","layer":"","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","x":1190,"y":780,"wires":[]},{"id":"ed6be53e.b8b9c8","type":"worldmap-tracks","z":"3e7e6604.d8a19a","depth":20,"name":"","x":910,"y":820,"wires":[["894ba8e5.376928"]]},{"id":"4ea76adf.bd1104","type":"satellite","z":"3e7e6604.d8a19a","sattype":"stations","satid":"ISS (ZARYA)","name":"scottda","x":815,"y":399,"wires":[["1b04a073.e6577"]]},{"id":"6e38ae0b.51735","type":"satellite","z":"3e7e6604.d8a19a","sattype":"stations","satid":"ISS (ZARYA)","name":"scottda","x":1175,"y":459,"wires":[["1627229c.d3ffcd"]]},{"id":"70397a4b.1792e4","type":"timearray","z":"3e7e6604.d8a19a","plus":0,"minus":"10","samples":"20","name":"Last 10 Mins","x":815,"y":439,"wires":[["15af68e2.7fe327"]]},{"id":"d5a602fe.eb1e2","type":"timearray","z":"3e7e6604.d8a19a","plus":"10","minus":"0","samples":"20","name":"Next 10 Mins","x":815,"y":479,"wires":[["8f5ae25e.0541c"]]},{"id":"f93c188e.5513d8","type":"debug","z":"3e7e6604.d8a19a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1163,"y":683,"wires":[]}]
