data/Node/joe_pretty_flow.json
[{"id":"4aea74a3.f8665c","type":"watson-conversation-v1","z":"caedde68.47537","name":"ISS Assistant","workspaceid":"bd8e312a-f39d-4c61-a3fa-cc942d98136a","multiuser":false,"context":true,"x":490,"y":100,"wires":[["ccbc0539.cfea98"]]},{"id":"ccbc0539.cfea98","type":"function","z":"caedde68.47537","name":"Assistant to Satellite","func":"if (msg.payload.intents.length > 0 || msg.payload.entities.length >0){\n msg.payload = (new Date()).getTime()\n}\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":120,"wires":[["16f2d52a.25f4ab"]]},{"id":"16f2d52a.25f4ab","type":"satellite","z":"caedde68.47537","sattype":"stations","satid":"ISS (ZARYA)","name":"scottda","x":890,"y":140,"wires":[["ff888338.27a3f"]]},{"id":"5fd10bb5.c45a04","type":"http in","z":"caedde68.47537","name":"","url":"/botchat","method":"post","swaggerDoc":"","x":120,"y":60,"wires":[["d61b1ae7.b19ab8"]]},{"id":"d61b1ae7.b19ab8","type":"function","z":"caedde68.47537","name":"process chat input","func":"// stash away incoming data\nmsg.mydata = {};\nmsg.mydata.messagein = msg.req.body.msgdata;\nmsg.payload = msg.mydata.messagein;\n\nmsg.params = { \"context\": msg.req.body.context};\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":80,"wires":[["4aea74a3.f8665c"]]},{"id":"5a5275be.e5500c","type":"function","z":"caedde68.47537","name":"Assistant output to Chat","func":"\ncurrent_payload = msg.payload;\n\nif (current_payload.hasOwnProperty('display_name')){\n    msg.payload.location = msg.payload.display_name;\n} else {\n    msg.payload.location = \"unknown, probably over ocean\";\n    \n    var lat_string = msg.payload.position.lat.toString();\n    msg.payload.lat = lat_string;\n    \n    var lon_string = msg.payload.position.lon.toString();\n    msg.payload.lon = lon_string;\n}\nmsg.payload.botresponse = msg.mydata;\nreturn msg;\n","outputs":1,"noerr":0,"x":1250,"y":220,"wires":[["e53595fc.1a8d78","9bcfe24d.c5ebd"]]},{"id":"a2de983a.97b3b8","type":"http in","z":"caedde68.47537","name":"Chat home page","url":"/bot","method":"get","swaggerDoc":"","x":140,"y":520,"wires":[["949f4d69.d8e74"]]},{"id":"949f4d69.d8e74","type":"template","z":"caedde68.47537","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!--\n# Copyright 2018 IBM\n#\n# Licensed under the Apache License, Version 2.0 (the \"License\");\n# you may not use this file except in compliance with the License.\n# You may obtain a copy of the License at\n#\n#     http://www.apache.org/licenses/LICENSE-2.0\n#\n# Unless required by applicable law or agreed to in writing, software\n# distributed under the License is distributed on an \"AS IS\" BASIS,\n# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.\n# See the License for the specific language governing permissions and\n# limitations under the License.\n-->\n\n<html>\n  <head>\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <title>\n\t  My BOT\n\t</title>\n\t<link rel=\"stylesheet\"\n        type=\"text/css\"\n        href=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css\" />\n\t<style>\n    \tbody {\n    \t    font-family: monospace;\n    \t}\n\t    .sat-track {\n\t        display: flex;\n\t        height: 100%;\n            font-family: monospace;\n\t    }\n\t    \n\t    .sat-track--chat {\n\t        width: 30%;\n\t        max-width: 400px;\n\t        border-right: 1px solid #929292;\n\t        display: flex;\n\t        flex-direction: column;\n\t    }\n\t    \n\t    .sat-track--chat--logs {\n\t        flex-grow: 1;\n\t        background-color: #262626;\n\t    }\n\t    \n\t    .sat-track--chat--message {\n            width: 100%;\n            margin-top: 12px;\n            display: flex;\n\t    }\n\t    \n\t    .sat-track--chat--message div {\n\t        border-radius: 6px;\n            width: 60%;\n            color: white;\n            padding: 6px 12px;\n\t    }\n\t    \n\t    .sat-track--chat--you div {\n\t        background-color: #4eb8ff;\n            margin-left: 6px;\n            border-bottom-left-radius: 0px;\n\t    }\n\t    \n\t    .sat-track--chat--bot,\n\t    .sat-track--chat--error {\n\t        flex-direction: row-reverse;\n\t    }\n\t    \n\t    .sat-track--chat--bot div,\n\t    .sat-track--chat--error div {\n\t        background-color: #97b83a;\n            margin-right: 6px;\n            border-bottom-right-radius: 0px;\n\t    }\n\t    \n\t    .sat-track--chat--error div {\n\t        background-color: #cc5f5f;\n\t    }\n\t    \n\t    .sat-track--chat form {\n\t        background-color: #141414;\n            margin-bottom: 0px;\n            color: white;\n\t    }\n\t    \n\t    .sat-track--chat label {\n\t        display: block;\n            padding: 6px;\n            margin-bottom: 0px;\n            border-bottom: 1px solid #434343;\n\t    }\n\t    \n\t    .sat-track--chat textarea {\n    \t    resize: none;\n            width: 100%;\n            min-height: 50px;\n            color: black;\n            padding: 6px;\n\t    }\n\t    \n\t    .sat-track--chat button {\n    \t    width: 100%;\n            padding: 6px 6px;\n            font-size: 12pt;\n            background: #268cb4;\n            border: 1px solid #02b8ff;\n            color: white;\n\t    }\n\t    \n\t    .sat-track--chat button:hover {\n\t        cursor: pointer;\n            background: #97b83a;\n            border: 1px solid #02b8ff;\n            color: white;\n\t    }\n\t    \n\t    h1 {\n\t        margin: 0px;\n            background-color: black;\n            color: #eee;\n            padding: 12px 6px;\n            font-size: 16pt;\n            border-bottom: 1px solid #00b8ff;\n\t    }\n\t    \n\t    .sat-track--map {\n\t        width: 100%;\n\t    }\n\t    \n\t    .sat-track--map iframe {\n\t        width: 100%;\n\t        height: 100%;\n\t    }\n\t    \n\t    .sat-track--map small {\n\t        position: absolute;\n            bottom: 0px;\n\t    }\n\t    \n\t</style>\n  </head>\n  <body>\n\n    <div class=\"sat-track\">\n        <div class=\"sat-track--chat\">\n            <h1>ISS Tracker BOT</h1>\n            <div class=\"sat-track--chat--logs\" id=\"id_botchathistory\"></div>\n    \t    <div>\n    \t        <form>\n                  <label for=\"id_chattext\">Your Input: </label>\n                  <textarea type=\"text\" name=\"chattext\" id=\"id_chattext\"></textarea>\n    \t        </form>\n    \t        <button onclick=\"javascript:onChatClick()\" id=\"id_enter\">Send</button>\n    \t    </div>\n        </div>\n        <div class=\"sat-track--map\" id=\"WorldMap\">\n            <iframe width=\"800\" height=\"600\" frameborder=\"0\" scrolling=\"no\" marginheight=\"0\" marginwidth=\"0\" src=\"https://casissatellite1.mybluemix.net/worldmap/\"></iframe>\n            <br /><small><a href=\"https://casissatellite1.mybluemix.net/worldmap/\" style=\"color:#0000FF;text-align:left\">View Larger Map</a></small>\n        </div>\n    </div>\n\n    <div class=\"container\">\n      <div id=\"no-script\"class=\"bg-info\">\n        This application needs JavaScript enabled in your browser!\n      </div>\n      <div id=\"id_contextdump\"></div>\n    </div>\n    \n    <script type=\"text/javascript\" src=\"https://code.jquery.com/jquery-2.1.4.min.js\"></script>\n    <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\"></script>\n\n    <script>\n        $(document).ready(function() {\n            javascriptCheck();\n            $('#id_contextdump').hide();\n            enterbutton();\n            //invokeAjax (\"Hello\");\n        });\n        \n        // if javascript is enabled on the browser then can remove the warning message\n        function javascriptCheck() {\n            $('#no-script').remove();\n        }\n        \n        // creates div for interaction with bot      \n        function createNewDiv(who, message) {\n            var txt = who + ': ' + message;\n            var container;\n            if (who == 'You') {\n                container = $('<div class=\"sat-track--chat--message sat-track--chat--you\"></div>');\n            } else if (who == 'Error') {\n                container = $('<div class=\"sat-track--chat--message sat-track--chat--error\"></div>');\n            } else {\n                container = $('<div class=\"sat-track--chat--message sat-track--chat--bot\"></div>');\n            }\n            container.append($('<div></div>').text(txt))\n            return container;\n            \n        }\n        \n        // appends latest communication with bot to botchathistory\n        function chat(person, txt) {\n            $('#id_botchathistory').append(createNewDiv(person, txt));\n        }    \n        \n        // sets pressing of enter key to perform same action as send button\n        function enterbutton(){\n            $(function() {\n                $(\"form textarea\").keypress(function (e) {\n                if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {\n                     $('#id_enter').click();\n                     return false;\n                } else {\n                return true;\n                }\n             });\n            });\n        }\n        \n        // User has entered some text.\n        function onChatClick() {\n            var txt = $('#id_chattext').val();\n            chat('You', txt); \n            invokeAjax(txt);\n            $('#id_chattext').val('');\n        }\n        \n        function processOK(response) {\n            console.error(response);\n            \n           \n            chat('Bot', \"Location: \" + response.location);\n            chat('Bot', \"Latitude: \" + response.lat);\n            chat('Bot', \"Longitude: \" + response.lon);\n            $('#id_contextdump').data('convContext', response.botresponse.messageout.context);\n        }\n              \n        function processNotOK() {\n            chat('Error', 'Error whilst attempting to talk to Bot');\n        }\n              \n        function invokeAjax(message) {\n            var contextdata = $('#id_contextdump').data('convContext');\n            console.error('checking stashed context data');\n            console.error(contextdata);\n                \n            var ajaxData = {};\n            ajaxData.msgdata = message;\n            if (contextdata) {\n                ajaxData.context = contextdata;    \n            }\n        \n            $.ajax({\n                type: 'POST',\n                url: 'botchat',\n                data: ajaxData,\n                success: processOK,\n                error: processNotOK\n            });\n        }  \n    </script>\n  </body>\n</html>\n","x":310,"y":520,"wires":[["1bd96952.2e6d37"]]},{"id":"1bd96952.2e6d37","type":"http response","z":"caedde68.47537","name":"Chat http response","x":490,"y":520,"wires":[]},{"id":"5dc6ad46.c08534","type":"worldmap","z":"caedde68.47537","name":"","lat":"scottda","lon":"","zoom":"","layer":"","cluster":"","maxage":"","usermenu":"show","panit":"false","x":910,"y":680,"wires":[]},{"id":"c1db14fe.11bd18","type":"function","z":"caedde68.47537","name":"ISS to map","func":"msg.mydata = msg.payload;\n\nmsg.payload = {};\nmsg.payload.name = msg.mydata.timestamp;\nmsg.payload.lat = msg.mydata.position.lat;\nmsg.payload.lon = msg.mydata.position.lon;\nmsg.payload.layer = \"ISS\";\nmsg.payload.zoom = 15;\nmsg.payload.icon = \"satellite\";\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":680,"wires":[["5dc6ad46.c08534","e3c6db5.c766528","26e7ca0a.f1bd66"]]},{"id":"8395e6bd.d156f8","type":"inject","z":"caedde68.47537","name":"","topic":"","payload":"scottda","payloadType":"str","repeat":"","crontab":"","once":true,"x":530,"y":620,"wires":[["b006be1a.27777"]]},{"id":"b006be1a.27777","type":"function","z":"caedde68.47537","name":"add map layer","func":"msg.payload = {};\nmsg.payload.command = {};\n\nvar u = 'http://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png';\nvar o = JSON.stringify({ maxZoom: 2, attribution: '&copy; OpenStreetMap'});\n\nmsg.payload.command.map = {name:\"OSMhot\", url:u, opt:o};\nmsg.payload.command.layer = \"OSMhot\";\n\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":620,"wires":[["5dc6ad46.c08534"]]},{"id":"26e7ca0a.f1bd66","type":"function","z":"caedde68.47537","name":"move and zoom","func":"msg.payload = { command:{layer:\"Esri Terrain\",lat:msg.payload.lat,lon:msg.payload.lon,zoom:4} };\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":660,"wires":[["5dc6ad46.c08534"]]},{"id":"9401623c.87979","type":"satellite","z":"caedde68.47537","sattype":"stations","satid":"ISS (ZARYA)","name":"scottda","x":350,"y":680,"wires":[["c1db14fe.11bd18"]]},{"id":"7a62c1e5.ac54e","type":"inject","z":"caedde68.47537","name":"60 second track","topic":"Map4tracks","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"x":170,"y":680,"wires":[["9401623c.87979"]]},{"id":"e3c6db5.c766528","type":"worldmap-tracks","z":"caedde68.47537","depth":20,"name":"","x":710,"y":720,"wires":[["5dc6ad46.c08534"]]},{"id":"7369c03f.ee042","type":"function","z":"caedde68.47537","name":"iss to reverse geocode function`","func":"//msg.mydata = msg.payload;\n//msg.payload = {};\n//msg.payload = {};\nmsg.lat =msg.payload.position.lat;\nmsg.lon =msg.payload.position.lon;\n\nreturn [msg, msg];","outputs":2,"noerr":0,"x":290,"y":260,"wires":[["2e45e17.dd3701e"],["8efc225d.d145a"]]},{"id":"8efc225d.d145a","type":"http request","z":"caedde68.47537","name":"Get reverse geocode","method":"GET","ret":"txt","url":"https://us1.locationiq.org/v1/reverse.php?key=91eac0347bf2a6&lat={{{lat}}}&lon={{{lon}}}&format=json","tls":"","x":560,"y":300,"wires":[["13bd26b9.6ebcc9","bfbc9b92.7537d8"]]},{"id":"13bd26b9.6ebcc9","type":"debug","z":"caedde68.47537","name":"http request to locationIQ","active":false,"console":false,"complete":"payload","x":790,"y":320,"wires":[]},{"id":"2e45e17.dd3701e","type":"join","z":"caedde68.47537","name":"join","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"2","x":870,"y":240,"wires":[["c8256d01.8cd2","78e884ea.e8e10c"]]},{"id":"78e884ea.e8e10c","type":"debug","z":"caedde68.47537","name":"join OUTPUT","active":false,"console":false,"complete":"payload","x":1030,"y":200,"wires":[]},{"id":"bfbc9b92.7537d8","type":"json","z":"caedde68.47537","name":"","x":730,"y":280,"wires":[["2e45e17.dd3701e"]]},{"id":"c8256d01.8cd2","type":"function","z":"caedde68.47537","name":"choose retval","func":"\n\nif(msg.payload[1] && msg.payload[1].hasOwnProperty('error')){\n    msg.payload = msg.payload[0];\n} else {\n    msg.payload = msg.payload[1];\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1040,"y":240,"wires":[["27c5f5.1e7b0a0c","5a5275be.e5500c"]]},{"id":"27c5f5.1e7b0a0c","type":"debug","z":"caedde68.47537","name":"choose retval OUTPUT","active":true,"console":false,"complete":"payload","x":1250,"y":260,"wires":[]},{"id":"2b456854.4f5478","type":"comment","z":"caedde68.47537","name":"HTML UI","info":"","x":320,"y":480,"wires":[]},{"id":"d6c8f528.cf36f8","type":"comment","z":"caedde68.47537","name":"WorldMap UI","info":"","x":310,"y":620,"wires":[]},{"id":"79ddd75e.a73898","type":"comment","z":"caedde68.47537","name":"Watson Assistant Chat API","info":"","x":370,"y":40,"wires":[]},{"id":"ff888338.27a3f","type":"link out","z":"caedde68.47537","name":"","links":["b5d0c198.49d43"],"x":1040,"y":120,"wires":[]},{"id":"b5d0c198.49d43","type":"link in","z":"caedde68.47537","name":"","links":["ff888338.27a3f"],"x":120,"y":260,"wires":[["7369c03f.ee042"]]},{"id":"9bcfe24d.c5ebd","type":"http response","z":"caedde68.47537","name":"Bot response","x":1500,"y":240,"wires":[]},{"id":"e53595fc.1a8d78","type":"debug","z":"caedde68.47537","name":"Fn Asst. Output","active":true,"console":false,"complete":"payload","x":1500,"y":200,"wires":[]}]
